<%- include("_header") -%>

<h1>A propos de AppTest</h1>

<p>La sollicitation de l’association des lecteurs de STRI envers Azeroth Bookclub intervient dans ce contexte, à savoir qu’elle souhaite proposer à ses adhérents un système permettant de s’accorder sur des créneaux de discussion autour de livres. De ce fait, L’association des lecteurs de STRI a contacté Azeroth Bookclub, société spécialisée dans le domaine du développement web et des métiers du livre.</p>

<%- include("_footer") -%>