<%- include("_header") -%>


 <div class="login">
   <form action="/chat" method="POST" class="chart">
      <h3>Identifiez vous</h3>
      <input type="text" name="nickname">
      <button type="submit">Login</button>
    </form>
  </div>

<%- include("_footer") -%>