<%- include("_header") -%>


 <div class="login">
   <form action="/goodlogin" method="POST"">
      <h3>Identifiez-vous</h3>
      <input type="text" name="pseudo">
      <button type="submit">Login</button>
    </form>
  </div>

<%- include("_footer") -%>